{% extends "base.html" %}

{% import "bootstrap5/utils.html" as bs_util %}
{% import "utils.html" as util %}


{% block title %}SeMRA{% endblock %}


{% block content %}
<div class="container" style="margin-top: 50px; margin-bottom: 50px">
    {{ bs_util.render_messages(dismissible=True, container=False) }}
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ mapping_set.name }}
                </h5>
                <dl>
                    <dt>Version</dt>
                    <dd>{{ mapping_set.version }}</dd>
                    <dt>License</dt>
                    <dd>{{ mapping_set.license }}</dd>
                    <dt>Confidence</dt>
                    <dd>{{ mapping_set.confidence }}</dd>
                </dl>

                <h6>Example Mappings</h6>
                {{ util.mapping_table(mapping_examples) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
