{% macro mapping_table(mappings) -%}
<table class="table">
    <thead>
    <tr>
        <td>Hash</td>
        <td>Subject</td>
        <td>Predicate</td>
        <td>Object</td>
    </tr>
    </thead>
    <tbody>
    {%- for mapping in mappings -%}
    <tr>
        <td>
            <a href="{{ url_for('.view_mapping', curie=mapping.curie) }}">
                <code>{{ mapping.get_identifier()[:8]}}</code>
            </a>
        </td>
        <td>{{ mapping.subject.name }} ({{ mapping.subject.curie }})</td>
        <td>{{ mapping.predicate.curie}}</td>
        <td>{{ mapping.object.name }} ({{ mapping.object.curie }})</td>
    </tr>
    {%- endfor -%}
    </tbody>
</table>
{% endmacro %}
