name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.11", "3.8" ]
        pydantic: [ "pydantic1", "pydantic2" ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install tox hatch
      - name: Test linting
        run:
          hatch run lint:style
      - name: Test with mypy
        run:
          tox -e mypy
      - name: Test with pytest
        run:
          tox -e py-${{ matrix.pydantic }}
